<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CC Beats</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        margin: 0;
        border: 0;
        padding: 0;
      }

      .banner {
        margin: 0;
        border: 0;
        padding: 0;
        padding: 5px;
        padding-right: 3px;
        border-radius: 3px;

        font-size: 10px;
        font-family: "Poppins", sans-serif;

        color: #ecf9ff;
        background-color: #0b0b1c;

        width: 250px;
        overflow: hidden;
      }
    </style>
  </head>

  <body>
    <div class="banner">
      <audio src="{{url}}" autoplay onended="window.location.reload()"></audio>
      <h3>{{attr_text}}</h3>
    </div>
  </body>
</html>
